NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SBON_TEST_ADMIN_EMAIL=
SBON_TEST_ADMIN_PASSWORD=
SBON_TEST_EDITOR_EMAIL=
SBON_TEST_EDITOR_PASSWORD=
SBON_TEST_GESTOR_EMAIL=
SBON_TEST_GESTOR_PASSWORD=
SBON_TEST_DIRETORIA_EMAIL=
SBON_TEST_DIRETORIA_PASSWORD=
SBON_TEST_HIGOR_EMAIL=
SBON_TEST_HIGOR_PASSWORD=
